.main-page-container {
  width: 100%;
  max-width: 580px; 
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}

.main-page-container h3 {
  color: #4a4a4a;
  font-size: 20px;
  margin-bottom: 15px;
}

.main-page-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 12px;
  cursor: pointer;
}

.reason {
  background: linear-gradient(135deg, #6a11cb, #2575fc); 
  color: white;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.reason:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.start-btn{
  padding: 15px 17px;
  margin-top: 15px;
  border: none;
  background-color: #2575fc;
  border-radius: 12px;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.start-btn:hover{
  background-color: #1a5ed3;
  transition: all 0.3s ease;
}

@media (max-width: 380px) {
  .main-page-list {
    grid-template-columns: 1fr; 
  }
}
